<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <% @blogs.reverse_order.each do |blog| %>
        <div class="post-preview">
          <%= link_to blog_path(blog.id) do %>
            <h2 class="post-title">
              <%= blog.content %>
            </h2>
            <h3 class="post-subtitle">
              <%= blog.title %>
            </h3>
          <% end %>
          <p class="post-meta">Posted by
            <%= link_to blog.user.name, user_path(blog.user_id) %>
            <%= blog.created_at %></p>
        </div>
       <hr>
      <% end %>
      <div class="clearfix">
        <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
      </div>
      <hr>
    </div>
  </div>
</div>
