<h3>sign up</h3>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(@user.errors.count, "error") %></h3>
      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= form_with(model: @user, local: true) do |f| %>
    <p>◆ <%= f.label :email %></p>
    <p><%= f.email_field :email %></p>
    <p>◆ <%= f.label :password %></p>
    <p><%= f.password_field :password %></p>
    <p>◆ <%= f.label :password_confirmation %></p>
    <p><%= f.password_field :password_confirmation %></p>
    <%= f.submit "Create my account", class:"btn btn-primary"%>
  <% end %>
